<div class="container">


  <!--轮播图-->
  <div class="swiper-container swiper-banner">
    <div class="swiper-wrapper">

      <div class="swiper-slide swiper-item-img" *ngFor="let imge of imgs">
        <img class="swiper-img"  [ngStyle]="{'background-image': imge }">
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <div class="massage-flex-div">
    <img class="logo-56" src="{{imgFzu}}">
    <div class="swiper-container swiper-message">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-no-swiping swiper-item-text" *ngFor="let arr of messageArray">{{arr}}</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <form class="form-horizontal">
        <span class="heading">用户登录</span>
        <div class="form-group">
          <input class="form-control" [formControl]="idFilter" id="inputEmail3" placeholder="用户名或电子邮件">
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group help">
          <input type="password"  [formControl]="pwFilter" class="form-control" id="inputPassword3" placeholder="密　码">
          <i class="fa fa-lock"></i>
          <a href="#" class="fa fa-question-circle"></a>
        </div>
        <div class="form-group">
          <!--<div class="main-checkbox">-->
          <!--<input type="checkbox" value="None" id="checkbox1" name="check"/>-->
          <!--<label for="checkbox1"></label>-->
          <!--</div>-->
          <!--<span class="text">Remember me</span>-->
          <button type="submit" class="btn btn-default"><a (click)="login()">登录</a></button>
          <button type="button" class="btn btn-success"><a (click)="register()">注册</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
